---
import Layout from "../layouts/layout.astro";
import logo from "../assets/lunox-logo.png";
import { Image } from "astro:assets";
---

<Layout>
  <div class="flex flex-col text-sm items-center justify-center space-y-3">
    <h1 class="text-xl text-center">
      ¡Sitio web en construcción… ¡Manténganse sintonizados!
    </h1>
    <p class="text-[#9c9c9c] mt-2">Cómprame un café en:</p>
    <div class="flex items-center justify-center gap-5">
      <a
        href="https://www.buymeacoffee.com/lunox"
        target="_blank"
        rel="noreferrer noopener nofollow"
        class="hover:text-gray-400"
      >
        buymeacoffee.com
      </a>
      <a
        href="https://ko-fi.com/lunox"
        target="_blank"
        rel="noreferrer noopener nofollow"
        class="hover:text-gray-400"
      >
        ko-fi.com
      </a>
    </div>
    <figure class="flex flex-col items-center justify-center mt-5">
      <Image src={logo} alt="My logo" width="40" height="40" loading="lazy" />
      <figcaption class="font-thin text-xs">Lunox</figcaption>
    </figure>
  </div>
</Layout>
