---
import Layout from "../layouts/layout.astro";
import Content from "../components/Content";
import PeWorld from "../assets/PeWorld.astro";
import LatamWorld from "../assets/LatamWorld.astro";
---

<Layout>
  <div
    class="flex flex-col justify-center items-center text-sm text-center space-y-5 mb-5"
  >
    <div class="space-y-5">
      <div>
        <h1 class="text-xl sm:text-2xl">
          <strong>Mobile Legends:</strong> Aprende a Seleccionar y Contrarrestar
          Héroes
        </h1>
        <h2 class="text-base sm:text-lg opacity-75">
          Guía definitiva y práctica para subir a Gloria Mítica en Mobile
          Legends
        </h2>
      </div>
      <div>
        <p class="opacity-50">
          En la fase de selección de héroes, visita esta página y elige primero
          el rol y héroe que tu oponente ha seleccionado. Evalúa cuidadosamente
          los mejores héroes disponibles, optando por los que domines para
          formar un equipo sólido y lograr contrarrestar eficazmente a tus
          adversarios.
          <br />La elección sabia es la clave para la supremacía.
        </p>
      </div>
    </div>

    <div class="flex flex-col space-y-2 justify-center items-center mt-5 gap-1">
      <span class="text-center text-sm tracking-tight text-pretty"
        >Visítanos también en:
      </span>
      <div
        class="flex flex-col mx-auto sm:flex-row space-y-2 sm:space-y-0 space-x-0 sm:space-x-5 justify-center items-center mt-5"
      >
        <a
          href="https://micasadeapuesta.com/"
          title="Mi casa de apuesta LATAM"
          target="_blank"
          rel="external noopener noreferrer follow"
        >
          <span
            class="relative flex flex-row mx-auto justify-center items-center gap-2 bg-[linear-gradient(#616161,#616161),linear-gradient(#8d8daa,#8d8daa)] bg-[length:100%_2px,0_2px] bg-[position:100%_100%,0_100%] bg-no-repeat text-white transition-[background-size] duration-300 hover:bg-[0_2px,100%_2px]"
            aria-label="Ir al sitio web: Mi casa de apuestas LATAM"
            typeof="button"
          >
            Mi casa de apuesta LATAM
            <LatamWorld />
          </span>
        </a>
        <a
          href="https://micasadeapuesta.pe/"
          title="Mi casa de apuesta Perú"
          target="_blank"
          rel="external noopener noreferrer follow"
        >
          <span
            class="relative flex flex-row mx-auto justify-center items-center gap-2 bg-[linear-gradient(#616161,#616161),linear-gradient(#8d8daa,#8d8daa)] bg-[length:100%_2px,0_2px] bg-[position:100%_100%,0_100%] bg-no-repeat text-white transition-[background-size] duration-300 hover:bg-[0_2px,100%_2px]"
            aria-label="Ir al sitio web: Mi casa de apuestas LATAM"
            typeof="button"
          >
            Mi casa de apuesta Perú
            <PeWorld />
          </span>
        </a>
      </div>
    </div>

    <Content client:load />

    <div class="text-start">
      <p class="font-semibold">IMPORTANTE:</p>
      <p class="opacity-75 font-semibold">
        Recomendamos seleccionar héroes que estén en el meta.
      </p>
      <p class="opacity-50">
        En Mobile Legends, la cooperación y la comunicación efectiva con tu
        equipo son factores cruciales para alcanzar la victoria.
      </p>
    </div>
  </div>
</Layout>
