---
const { url, title } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noreferrer noopener nofollow"
  class="hover:opacity-80 text-base text-amber-500 font-semibold hover:underline"
>
  {title}
</a>
