---
import "../styles/global.css";
import Hotjar from "../components/Hotjar.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mobile Legends Counter | Latino</title>
    <meta
      name="description"
      content="Aprende a contrarrestar héroes de Mobile legends con esta página"
    />
    <Hotjar />
    <meta name="google-site-verification" content="dEimDCP5YwOGTUNy4_NVM7EBmBCnWxkDgqRKe7jxgkQ" />
  </head>
  <body class="min-h-screen flex items-center justify-center p-4">
    <main class="max-w-screen-sm">
      <slot />
    </main>
  </body>
</html>
